<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I really need a name for this</title>
    <%- include('./partials/header') %>
</head>

<body>
    <main>
        <div>
            <h1>Definitly not a stolen design</h1>
        </div>
        <div id="dragdrop" ondragover="dragover(event)" ondrop="drop(event)" ondragenter="dragenter(event)">
            <button onclick="filebutton()" class="styled">
                Click here or drag & drop files
            </button>
        </div>

        <div style="display:none">
            <form action="/api/upload" method="post" id="fileform">
                <input type="file" name="file" id="file" onchange="change()" style="display:none" />
            </form>
        </div>
    </main>
</body>
<script src="/static/files.js"></script>
</html>